@{
    var session = new HttpContextAccessor().HttpContext!.Session;
    ViewData["Title"] = "Home";
}

<div class="container">
    <img src="https://static.wixstatic.com/media/75c655_040c9eecec93431d8189cf9d25e8cb98~mv2.png/v1/fill/w_1118,h_316,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/75c655_040c9eecec93431d8189cf9d25e8cb98~mv2.png" class="img-fluid rounded animated--fade-in" />
</div>

